<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New item</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="icon" href="../images/logo.jpg">

</head>
<body>
    <div class="logoContainer">
        <img src="../images/logo.jpg" alt="logo">
    </div>
    <main>
        <form action="/edit" method="post">
            <label for="name">Name:</label><br>
            <input type="text" name="name" id="name" value="<%= data[0].name %>" required><br><br>
            <label for="quantity">Quantity:</label><br>
            <input type="number" name="quantity" id="quantity" value="<%= data[0].quantity %>" required><br><br>
            <label for="price">Price:</label><br>
            <input type="number" name="price" id="price" value="<%= data[0].price %>" required><br><br>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>